/* Fonts Rules:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* HEADINGS */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-weight: 700;
  font-size: 3vmax;
  line-height: 1.5;
}

.feature-title {
  font-size: 2vmax;
  line-height: 1.5;
  font-weight: 700;
}

/* CONTAINERS */

.container-fluid {
  padding: 7% 15%;
}

/* SECTIONS */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* NAVIGATION BAR */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5vmax;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* TITLE SECTION */

/* the space here is important to overwrite 
for this id section. This is a parent-child
linking relationship. */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.iphone {
  width: 22%;
  right: 20%;
  transform: rotate(25deg);
  position: absolute;
}

/* FEATURES SECTION */

#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  padding: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* PRESS SECTION */

#press .container-fluid {
  background-color: #ef8172;
  padding: 0 10% 3%;
}

.press-logo {
  padding: 3%;
}

/* PRICING SECTION */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

/* FOOTER SECTION */

#footer {
  padding: 7% 0 3%;
}

.footer-icon,
.footer-icon:link {
  padding: 10px 10px 20px;
  color: inherit;
  text-decoration: inherit;
}
.footer-icon:hover {
  color: #8f8f8f;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  p {
    font-size: 2em;
  }

  .nav-link {
    font-size: 2em;
  }

  .navbar-toggler-icon {
    font-size: 2.5rem;
  }

  .big-heading {
    font-size: 5rem;
  }

  .download-btn {
    font-size: 2.5rem;
    border-width: 0.25rem;
  }

  #title .container-fluid {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  .carousel-item {
    font-size: 1.75em;
  }

  .pricing-title {
    font-size: 2.5rem;
  }

  #pricing .btn-large {
    font-size: 2.5rem;
  }

  .press-logo {
    padding: 3% 10% 3%;
  }

  .footer-icon {
    font-size: 2.5rem;
  }
}
